---
import { Image } from "astro:assets";
import byNcSa from "@assets/by-nc-sa.png";
---

<div class="pt-24">
  <p>the text of this website is licensed under the CC BY-NC-SA license</p>
  <Image src={byNcSa} alt="CC BY-NC-SA license" height={64} />
</div>
